<div class="mb-2 flex items-center">  
    ##icon##          
    <label class="block mb-2 text-gray-900 dark:text-white font-extrabold">Nom entreprise ou raison sociale: <span>##valeur_entreprise_raison_sociale##</span></label>        
</div>
<div class="grid gap-6 mb-2 md:grid-cols-2">
    <div class="flex h-10 align-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom : <span class="font-normal">##valeur_entreprise_nom##</span></label>            
    </div>
    <div class="flex h-10 align-center">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom: <span class="font-normal">##valeur_entreprise_prenom##</span> </label>
    </div>
</div>
<div class="mb-2 flex h-10 align-center">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Adresse:  <span class="font-normal">##valeur_entreprise_adresse##</span></label>
</div>
<div class="grid gap-6 mb-2 md:grid-cols-2">
    <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Code postal:  <span class="font-normal">##valeur_entreprise_code_postal##</span></label>
    </div>
    <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Commune: <span class="font-normal">##valeur_entreprise_commune##</span></label>
    </div>
</div>
<div class="mb-2">
    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">SIRET n°: <span class="font-normal">##valeur_entreprise_numero_siret##</span></label>        
</div>

